* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #186725;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: white;
}

.logo-area img {
  width: 180px;
  margin-bottom: 10px;
}

.logo-area h1 {
  font-size: 55px;
  margin-bottom: 10px;
}

.logo-area h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.btn {
  width: 450px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 25px;

  text-decoration: none;

  font-size: 25px;
  font-weight: bold;

  margin: 3px 0;

  cursor: pointer;
}

.entrar {
  background: white;
  color: #1c7a2d;
}

.sair {
  background: white;
  color: darkred;
}
